*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url('pexels-polina-kovaleva-6543274.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    font-size: 3rem;
    color: white;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li:hover{
    background: #967aa1;
    color: white;
    transition: .4s;
    transition: 1s;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.masbtn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 13px;
}
.masbtn:hover{
    background-color: #a9a1c8;
    transition: 1s;
    color: #182a50;
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #182a50;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    nav .fa{
        display: block;
        color: #182a50;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
.productos {
    /* Agrega estas propiedades para la posición original */
    position: relative;
    top: 0;
    transition: top 0.3s ease-in-out; /* Agrega una transición suave para evitar cambios abruptos */
}

.productos.fixed {
    /* Ajusta la posición fija según tus necesidades */
    position: fixed;
    top: 50px; /* Ajusta la distancia desde la parte superior según tus necesidades */
}
.productos{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-color: #a9a1c8;
}
.product img {
    height: 200px; /* agregar altura inicial */
  }
.productos h1{
    font-size: 36px;
    font-weight: 600;
    color: #182a50;
}
p{
    color: #182a50;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.product-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    background-color: #967aa1;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.product-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
.producto{
    padding: 0;
    background: #a9a1c8;
}
.cabeza{
    background-color: #a9a1c8;
    text-align: center;
    width: 100%;
}
.cabeza span{
    color: #182a50;
    font-weight: 600;
}
.cabeza h2{
    font-size: var(--h2-font);
}
.contenedorproductos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a9a1c8;
}
.caja{
    margin: 2em;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    background-color: #f5e7e7;
}
.caja h2, h3{
    text-align: center;
}
.caja span {
    display: block; /* Cambia a display: block para centrar verticalmente */
    text-align: center; /* Centra horizontalmente el contenido del span */
    color: #182a50;
    font-weight: 600;
}
.caja:hover{
    transform: scale(1.1) translateY(3px);
    background-color: #d4c6df;
    transition: .4s;
}
@media(max-width: 700px){
    .contenedorproductos{
        flex-direction: column;
    }
}